.sf-menu >li ul {
  width: 22em;
}
.sf-menu li li ul{
  left: 20em;

}

.sf-menu li li .on-left-side,
.sf-menu li .sfHover .on-left-side{
  right: 22em;
}

#slide-out-widget-area.slide-out-from-right-hover{
  padding: 32px;
}


@media only screen and (min-width: 1000px) {
  .buttons.sf-menu{
    display: none !important;
  }
}


.banner-h2 {

}

.home-banner {

  .wpb_wrapper {
    h1.vc_custom_heading {
      font-weight: bold;
      font-size: 40px !important;
      line-height: 56px !important;
    }

    h2.vc_custom_heading {
      font-size: 32px !important;
      line-height: 47px !important;
      margin-bottom: 40px;
    }
  }

  .row-bg-wrap {
    &:after {
      content: "";
      background-image: url(/wp-content/uploads/2020/03/pattern.png);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 2;
      background-repeat: no-repeat;
      background-position: bottom right;
    }
  }

}

body[data-header-color="dark"]:not([data-header-format="left-header"]) #top .sf-menu li ul {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (min-width: 1000px) {
  .home-banner {
    min-height: 70vh !important;

    .col.span_12 {
      min-height: 70vh !important;
    }

    .wpb_wrapper {
      h1.vc_custom_heading {
        font-weight: bold;
        font-size: 80px !important;
        line-height: 117px !important;
      }

      h2.vc_custom_heading {
        font-size: 32px !important;
        line-height: 47px !important;
      }
    }

    .row-bg-wrap {
      &:after {
        background-size: contain;
      }
    }


  }
}
