.black-section {
  .col.span_12 {
    padding-top: 80px;
    padding-bottom: 65px;
  }

  .wpb_wrapper h2.vc_custom_heading {
    font-size: 32px !important;
    line-height: 40px !important;
    margin-bottom: 16px;
  }
}

.material {
  .black-section {
    .wpb_content_element {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 1000px) {
  .black-section {
    .col.span_12 {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .wpb_wrapper h2.vc_custom_heading {
      font-size: 48px !important;
      line-height: 56px !important;
      margin-bottom: 40px;
    }


  }

}