.blog-title{
  .uncategorized{
    display: none !important;
  }
  #single-below-header{
    display: none !important;
  }
}


  #single-below-header{
    margin-bottom: 40px !important;
    font-size: 20px;
    text-align: center;
  }
