.contact-form {
  background-color: #fff;
  margin: 0 auto 0 auto;
  padding: 20px;
  max-width: 600px;
  form {
    label {
      font-size: 19px;
      font-weight: 500;
      color: #000;
      display: block;
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 20px;
    }

    select {
      margin-bottom: 40px;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      border: 2px solid rgba(0, 0, 0, 0);
      box-shadow: none;
      font-size: 14px;
      height: 48px;
    }


  }
}

@media (min-width: 992px) {
  .contact-form {
    padding: calc((100vw - 380px) * 0.06);
  }
  .contact-form__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    > div {
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 33.33333333%
    }
  }
}