@import "variables";

body {
  font-family: 'Be Vietnam', sans-serif;
  color: #555;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 300;
  }

  .bold, strong, b {
    font-family: 'Be Vietnam', sans-serif;
  }
}

#slide-out-widget-area.fullscreen .inner .widget.widget_nav_menu li a, #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a, #slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a, #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}

.heading-bold {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
}

.mb-80-120 {
  margin-bottom: calc(80px - 1.5rem);
}

.mb-80-120 {
  margin-bottom: calc(80px - 1.5rem);
}

body.material .wpb_row.full-width-content.mb-80-120 {
  margin-bottom: 80px;
}

.owl-dots {
  display: none;
}




@media only screen and (min-width: 1000px) {
  .container, body[data-header-format="left-header"] .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots, .post-area.standard-minimal.full-width-content .post .inner-wrap, .material #search-outer #search {
    max-width: 1290px !important;
  }

  .mb-80-120 {
    margin-bottom: calc(120px - 1.5rem);
  }

  body.material .wpb_row.full-width-content.mb-80-120 {
    margin-bottom: 120px;
  }
}


@media (max-width: 690px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .wpb_row .wpb_wrapper h2.vc_custom_heading {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  //vc bug
  .vc_col-sm-1\/5.vc_col-xs-offset-3 {
    margin-left: 25%;
  }
}
