#ajax-content-wrap #footer-outer #copyright {
  border-top: 1px solid #ddd;
}

.footer-area-top {
  h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 50px;
  }

  h2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  .vc_separator.wpb_content_element {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 80px !important;
  }
}


.footer-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > img {
    padding: 10px;
  }

}

#footer-widgets {
  font-size: 14px;

  .widget_nav_menu {
    > h4 {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.04em;
      color: #999999;
      margin-bottom: 10px;
    }

    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
    }


  }

  .textwidget p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #999999 !important;
  }


}


#footer-outer {
  .widget {
    margin-bottom: 0;
  }

  .widget_media_image {
    margin-bottom: 25px;
  }

  #copyright {
    p {
      line-height: 22px;
      margin-top: 11px;
    }

    li a {
      width: 40px;
      height: 40px;
      border-radius: 25%;
      background: #0077B7;
      border: 1px solid #ddd;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 4px;
      i{
        color: #fff !important;
      }
    }
  }

}

@media screen and (min-width: 1000px) {
  .footer-area-top {
    h2 {
      font-size: 48px;
      line-height: 56px;
    }
  }
  .footer-images {
    > img {
      padding: 10px 23px;
    }
  }

  #footer-widgets {
    .container {
      .span_4 {
        width: 25%;
      }

      .row {
        .span_4:first-child {
          width: 46%;
        }
      }
    }
  }
}