.img-text {
  margin-top: 80px !important;
  margin-bottom: 65px !important;


  h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    color: #3E898C;
    margin-bottom: 25px;
  }

  .nectar-button {
    margin-bottom: 15px;
  }
}

@media (min-width: 1000px) {
  .img-text {
    margin-top: 120px !important;
    margin-bottom: 105px !important;

    h2 {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 40px;
    }

    > .span_12 {
      > .vc_col-sm-6:first-child .vc_column-inner {
        max-width: 435px;
      }

      > .vc_col-sm-6.vc_col-sm-push-6 {
        padding-left: 90px;
      }
    }
  }
}