.iwithtext {

}

.row .col .iwithtext .iwt-icon img:not([srcset]) {
  width: 35px;
  min-width: 50px;
}

.iwt-text {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold !important;
  span {

  }
}
