body #header-outer header .slide-out-widget-area-toggle.mobile-icon .lines:before {
  width: 22px !important;
}

.main-page-header {
  .row-bg-wrap:after {
    content: "";
    background-image: url(/wp-content/uploads/2020/03/pattern.png);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .wpb_wrapper {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.small {
    .wpb_wrapper {
      height: 400px;
    }
  }


  h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 24px;
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
  }

  h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-left: 4px solid #58C4C8;
    padding-left: 8px;
    margin-bottom: 8px;
  }
}

@media (max-width: 999px) {
  .main-page-header {
    .row-bg-wrap:after {
      content: "";
      background-image: url("/wp-content/uploads/2020/04/pattern-mobile.png");
    }
  }
}

@media (max-width: 690px) {
  .main-page-header {
    .wpb_wrapper {
      margin-bottom: 120px;

      h1.vc_custom_heading {
        font-size: 40px !important;
        line-height: 56px !important;
      }

      h2.vc_custom_heading {
        font-size: 20px !important;
        line-height: 24px !important;
      }
    }


  }
}