.para-grey {
  margin-bottom: 80px !important;

  .col.span_12 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1000px) {
  .para-grey .col.span_12 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}