.service-card-row {
  .vc_column-inner {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px 24px 60px 24px;

    a {
      color: $secondary;
      font-weight: bold;
      font-size: 16px;

    }

    .link {
      color: $secondary;
    }

    h3 {
      font-size: 18px;
      line-height: 1.44;
      font-weight: bold;
    }

    .wpb_text_column {
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;

      }
    }
  }

  &.vc_row-fluid > .span_12 .wpb_column {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.material .service-card-row.wpb_row {
  margin-bottom: 14px;
}


