.material {
  .software-section.wpb_row {
    margin-bottom: 0;

    .iwithtext {
      display: flex;
      align-items: center;
      .iwt-icon{
        position: relative;
        display: flex;
        align-items: center;
        img:not([srcset]) {
          margin-bottom: 0;
        }
      }
      .iwt-text {
        padding-left: 10px;
      }
    }
  }
}

.software-section.wpb_row {
  p {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    font-weight: bold !important;

    span {
      font-weight: bold !important;
    }
  }
}

.software-section.wpb_row.last {
  margin-bottom: 80px;
}

@media screen and (min-width: 1000px) {
  .material {
    .software-section.wpb_row {
      margin-bottom: 50px;
    }
  }
  .software-section.wpb_row.last {
    margin-bottom: 120px;

  }
}
