.testimonial-section {
  padding-top: 20px !important;
  padding-bottom: 60px !important;

  .row-bg-wrap {
    &:after {
      content: "";
      background-image: url(/wp-content/uploads/2020/03/pattern.png);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      z-index: 2;
      background-repeat: no-repeat;
      background-position: bottom right;
    }
  }

  .left-col {
    margin-bottom: 0;

    .vc_column-inner {
      padding: 40px;
    }

    h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 1rem;
    }
  }

  .right-col {
    .img-with-aniamtion-wrap {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#111111, 0.4);
      }
    }

    .nectar-button {
      position: absolute;
      right: 40px;
      bottom: 40px;
      top: auto;
    }

    .hover-wrap {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1000px) {
  .testimonial-section {
    padding-top: 120px !important;
    padding-bottom: 120px !important;

    .left-col {
      padding-right: 0 !important;

      .wpb_column {
        width: 41%;
      }

      h4 {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 24px;
      }

      .wpb_text_column {
        margin-bottom: 48px;
      }

      .vc_column-inner {
        padding: 60px;
      }
    }

    .right-col {
      position: absolute;
      right: 0;
      width: 79%;
      bottom: -40px;
      z-index: -1;
      padding-left: 0 !important;


    }
  }
}