.title-para {
  .wpb_wrapper h2.vc_custom_heading {
    font-size: 32px !important;
    line-height: 40px !important;
    margin-top: 80px;
    margin-bottom: 25px;
  }
}

.material .wpb_row.title-para {
  margin-bottom: 25px;
}

@media screen and (min-width: 1000px) {
  .title-para {
    .wpb_wrapper h2.vc_custom_heading {
      font-size: 48px !important;
      line-height: 56px !important;
      margin-top: 120px;
      margin-bottom: 35px;
    }
  }
  .material .wpb_row.title-para {
    margin-bottom: 40px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}