/*
Theme Name: Salient Child Theme
Description: This is a custom child theme for Salient
Theme URI:   https://themeforest.net/item/salient-responsive-multipurpose-theme/4363266
Author: ThemeNectar
Author URI:  https://themeforest.net/user/themenectar
Template: salient
Version: 1.0
*/
body {
  font-family: 'Be Vietnam', sans-serif;
  color: #555; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 300; }
  body .bold, body strong, body b {
    font-family: 'Be Vietnam', sans-serif; }

#slide-out-widget-area.fullscreen .inner .widget.widget_nav_menu li a, #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a, #slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a, #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1; }

.heading-bold h1, .heading-bold h2, .heading-bold h3, .heading-bold h4, .heading-bold h5, .heading-bold h6 {
  font-weight: bold; }

.mb-80-120 {
  margin-bottom: calc(80px - 1.5rem); }

.mb-80-120 {
  margin-bottom: calc(80px - 1.5rem); }

body.material .wpb_row.full-width-content.mb-80-120 {
  margin-bottom: 80px; }

.owl-dots {
  display: none; }

@media only screen and (min-width: 1000px) {
  .container, body[data-header-format="left-header"] .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots, .post-area.standard-minimal.full-width-content .post .inner-wrap, .material #search-outer #search {
    max-width: 1290px !important; }

  .mb-80-120 {
    margin-bottom: calc(120px - 1.5rem); }

  body.material .wpb_row.full-width-content.mb-80-120 {
    margin-bottom: 120px; } }
@media (max-width: 690px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

  .wpb_row .wpb_wrapper h2.vc_custom_heading {
    font-size: 32px !important;
    line-height: 40px !important; }

  .vc_col-sm-1\/5.vc_col-xs-offset-3 {
    margin-left: 25%; } }
.sf-menu > li ul {
  width: 22em; }

.sf-menu li li ul {
  left: 20em; }

.sf-menu li li .on-left-side,
.sf-menu li .sfHover .on-left-side {
  right: 22em; }

#slide-out-widget-area.slide-out-from-right-hover {
  padding: 32px; }

@media only screen and (min-width: 1000px) {
  .buttons.sf-menu {
    display: none !important; } }
.home-banner .wpb_wrapper h1.vc_custom_heading {
  font-weight: bold;
  font-size: 40px !important;
  line-height: 56px !important; }
.home-banner .wpb_wrapper h2.vc_custom_heading {
  font-size: 32px !important;
  line-height: 47px !important;
  margin-bottom: 40px; }
.home-banner .row-bg-wrap:after {
  content: "";
  background-image: url(/wp-content/uploads/2020/03/pattern.png);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: bottom right; }

body[data-header-color="dark"]:not([data-header-format="left-header"]) #top .sf-menu li ul {
  background-color: rgba(0, 0, 0, 0.8); }

@media screen and (min-width: 1000px) {
  .home-banner {
    min-height: 70vh !important; }
    .home-banner .col.span_12 {
      min-height: 70vh !important; }
    .home-banner .wpb_wrapper h1.vc_custom_heading {
      font-weight: bold;
      font-size: 80px !important;
      line-height: 117px !important; }
    .home-banner .wpb_wrapper h2.vc_custom_heading {
      font-size: 32px !important;
      line-height: 47px !important; }
    .home-banner .row-bg-wrap:after {
      background-size: contain; } }
body.material .nectar-button.large {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  padding: 12px 24px !important;
  border-width: 1px !important; }

.service-card-row .vc_column-inner {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px 24px 60px 24px; }
  .service-card-row .vc_column-inner a {
    color: #58C4C8;
    font-weight: bold;
    font-size: 16px; }
  .service-card-row .vc_column-inner .link {
    color: #58C4C8; }
  .service-card-row .vc_column-inner h3 {
    font-size: 18px;
    line-height: 1.44;
    font-weight: bold; }
  .service-card-row .vc_column-inner .wpb_text_column {
    margin-bottom: 70px; }
    .service-card-row .vc_column-inner .wpb_text_column:last-child {
      margin-bottom: 0; }
.service-card-row.vc_row-fluid > .span_12 .wpb_column {
  padding-left: 7px;
  padding-right: 7px; }

.material .service-card-row.wpb_row {
  margin-bottom: 14px; }

.testimonial-section {
  padding-top: 20px !important;
  padding-bottom: 60px !important; }
  .testimonial-section .row-bg-wrap:after {
    content: "";
    background-image: url(/wp-content/uploads/2020/03/pattern.png);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: bottom right; }
  .testimonial-section .left-col {
    margin-bottom: 0; }
    .testimonial-section .left-col .vc_column-inner {
      padding: 40px; }
    .testimonial-section .left-col h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 1rem; }
  .testimonial-section .right-col .img-with-aniamtion-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4); }
  .testimonial-section .right-col .nectar-button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    top: auto; }
  .testimonial-section .right-col .hover-wrap {
    margin-bottom: 0; }

@media (min-width: 1000px) {
  .testimonial-section {
    padding-top: 120px !important;
    padding-bottom: 120px !important; }
    .testimonial-section .left-col {
      padding-right: 0 !important; }
      .testimonial-section .left-col .wpb_column {
        width: 41%; }
      .testimonial-section .left-col h4 {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 24px; }
      .testimonial-section .left-col .wpb_text_column {
        margin-bottom: 48px; }
      .testimonial-section .left-col .vc_column-inner {
        padding: 60px; }
    .testimonial-section .right-col {
      position: absolute;
      right: 0;
      width: 79%;
      bottom: -40px;
      z-index: -1;
      padding-left: 0 !important; } }
#ajax-content-wrap #footer-outer #copyright {
  border-top: 1px solid #ddd; }

.footer-area-top h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 50px; }
.footer-area-top h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 40px; }
.footer-area-top .vc_separator.wpb_content_element {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 80px !important; }

.footer-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .footer-images > img {
    padding: 10px; }

#footer-widgets {
  font-size: 14px; }
  #footer-widgets .widget_nav_menu > h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #999999;
    margin-bottom: 10px; }
  #footer-widgets .widget_nav_menu a {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px; }
  #footer-widgets .textwidget p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999 !important; }

#footer-outer .widget {
  margin-bottom: 0; }
#footer-outer .widget_media_image {
  margin-bottom: 25px; }
#footer-outer #copyright p {
  line-height: 22px;
  margin-top: 11px; }
#footer-outer #copyright li a {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background: #0077B7;
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px; }
  #footer-outer #copyright li a i {
    color: #fff !important; }

@media screen and (min-width: 1000px) {
  .footer-area-top h2 {
    font-size: 48px;
    line-height: 56px; }

  .footer-images > img {
    padding: 10px 23px; }

  #footer-widgets .container .span_4 {
    width: 25%; }
  #footer-widgets .container .row .span_4:first-child {
    width: 46%; } }
body #header-outer header .slide-out-widget-area-toggle.mobile-icon .lines:before {
  width: 22px !important; }

.main-page-header .row-bg-wrap:after {
  content: "";
  background-image: url(/wp-content/uploads/2020/03/pattern.png);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: top right; }
.main-page-header .wpb_wrapper {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
.main-page-header.small .wpb_wrapper {
  height: 400px; }
.main-page-header h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 24px; }
.main-page-header h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px; }
.main-page-header h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-left: 4px solid #58C4C8;
  padding-left: 8px;
  margin-bottom: 8px; }

@media (max-width: 999px) {
  .main-page-header .row-bg-wrap:after {
    content: "";
    background-image: url("/wp-content/uploads/2020/04/pattern-mobile.png"); } }
@media (max-width: 690px) {
  .main-page-header .wpb_wrapper {
    margin-bottom: 120px; }
    .main-page-header .wpb_wrapper h1.vc_custom_heading {
      font-size: 40px !important;
      line-height: 56px !important; }
    .main-page-header .wpb_wrapper h2.vc_custom_heading {
      font-size: 20px !important;
      line-height: 24px !important; } }
.para-grey {
  margin-bottom: 80px !important; }
  .para-grey .col.span_12 {
    padding-top: 40px;
    padding-bottom: 40px; }

@media (min-width: 1000px) {
  .para-grey .col.span_12 {
    padding-top: 80px;
    padding-bottom: 80px; } }
.img-text {
  margin-top: 80px !important;
  margin-bottom: 65px !important; }
  .img-text h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 15px; }
  .img-text h2 {
    font-size: 32px;
    line-height: 40px;
    color: #3E898C;
    margin-bottom: 25px; }
  .img-text .nectar-button {
    margin-bottom: 15px; }

@media (min-width: 1000px) {
  .img-text {
    margin-top: 120px !important;
    margin-bottom: 105px !important; }
    .img-text h2 {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 40px; }
    .img-text > .span_12 > .vc_col-sm-6:first-child .vc_column-inner {
      max-width: 435px; }
    .img-text > .span_12 > .vc_col-sm-6.vc_col-sm-push-6 {
      padding-left: 90px; } }
.black-section .col.span_12 {
  padding-top: 80px;
  padding-bottom: 65px; }
.black-section .wpb_wrapper h2.vc_custom_heading {
  font-size: 32px !important;
  line-height: 40px !important;
  margin-bottom: 16px; }

.material .black-section .wpb_content_element {
  margin-bottom: 40px; }

@media (min-width: 1000px) {
  .black-section .col.span_12 {
    padding-top: 120px;
    padding-bottom: 120px; }
  .black-section .wpb_wrapper h2.vc_custom_heading {
    font-size: 48px !important;
    line-height: 56px !important;
    margin-bottom: 40px; } }
.title-grey {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 10px; }

.material .software-section.wpb_row {
  margin-bottom: 0; }
  .material .software-section.wpb_row .iwithtext {
    display: flex;
    align-items: center; }
    .material .software-section.wpb_row .iwithtext .iwt-icon {
      position: relative;
      display: flex;
      align-items: center; }
      .material .software-section.wpb_row .iwithtext .iwt-icon img:not([srcset]) {
        margin-bottom: 0; }
    .material .software-section.wpb_row .iwithtext .iwt-text {
      padding-left: 10px; }

.software-section.wpb_row p {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold !important; }
  .software-section.wpb_row p span {
    font-weight: bold !important; }

.software-section.wpb_row.last {
  margin-bottom: 80px; }

@media screen and (min-width: 1000px) {
  .material .software-section.wpb_row {
    margin-bottom: 50px; }

  .software-section.wpb_row.last {
    margin-bottom: 120px; } }
.title-para .wpb_wrapper h2.vc_custom_heading {
  font-size: 32px !important;
  line-height: 40px !important;
  margin-top: 80px;
  margin-bottom: 25px; }

.material .wpb_row.title-para {
  margin-bottom: 25px; }

@media screen and (min-width: 1000px) {
  .title-para .wpb_wrapper h2.vc_custom_heading {
    font-size: 48px !important;
    line-height: 56px !important;
    margin-top: 120px;
    margin-bottom: 35px; }

  .material .wpb_row.title-para {
    margin-bottom: 40px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-width: 1000px) {
  .material .customers.wpb_row {
    margin-bottom: 40px; } }
.contact-form {
  background-color: #fff;
  margin: 0 auto 0 auto;
  padding: 20px;
  max-width: 600px; }
  .contact-form form label {
    font-size: 19px;
    font-weight: 500;
    color: #000;
    display: block;
    margin-bottom: 10px; }
  .contact-form form input {
    margin-bottom: 20px; }
  .contact-form form select {
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    font-size: 14px;
    height: 48px; }

@media (min-width: 992px) {
  .contact-form {
    padding: calc((100vw - 380px) * 0.06); }

  .contact-form__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px; }
    .contact-form__row > div {
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 33.33333333%; } }
.row .col .iwithtext .iwt-icon img:not([srcset]) {
  width: 35px;
  min-width: 50px; }

.iwt-text {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold !important; }

.team-member .social li a {
  font-size: 20px; }

.team-member p.description, .row .col .team-member p.description {
  border: 0; }

.blog-title .uncategorized {
  display: none !important; }
.blog-title #single-below-header {
  display: none !important; }

#single-below-header {
  margin-bottom: 40px !important;
  font-size: 20px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
